$black: #090302;
$grey: #5a5255;
$white: #fff;
$red: #ae5a41;
$green: #559e83;
$blue: #1b85b8;
$yellow: #c3cb71;

.black {
  color: $black;
}
.grey {
  color: $grey;
}
.white {
  color: $white;
}
.red {
  color: $red;
}
.green {
  color: $green;
}
.blue {
  color: $blue;
}
.yellow {
  color: $yellow;
}
