.avatar {
  display: inline-block;
  width: 40%;
  box-sizing: border-box;
  overflow: auto;
  border: 2px solid $grey;
}
.gearlistthumbnail {
  height: 50px;
  border: 2px solid $grey;
  vertical-align: middle;
}
.gearimage {
  border: 2px solid $grey;
  border-radius: 5px;
  vertical-align: top;
  display: inline-block;
  width: 100%;
}
.contractimage {
  display: inline-block;
  width: 48%;
  border: 2px solid $grey;
  border-radius: 5px;
  vertical-align: top;
  margin-left: 20px;
}
