* {
  box-sizing: border-box;
}
body, html {
    height: inherit;
}
html {
  background: $white;
  * {
    box-sizing: border-box;
  }
}
body {
  margin: 0;
  padding: 0;
  background-image: url('/images/nomad.JPG');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
header {
  a{
    color: $white;
  }
  height: 100px;
  // background-image: url(./../images/nomad.jpeg);
  // background-position: bottom;
  // background-size: cover;
  background-color: rgba($blue, .8);
}
footer {
  height: 60px;
  background-color: rgba($red, .8);
}
main {
  min-height: 520px;
  background-size: cover;
  background-position: bottom;
  height: 100%;
  background-color: rgba($white, .5);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.container{
  margin: 0 auto;
  width: 960px;
  padding: 1em;
  box-sizing: border-box;
}
.sidemenu {
  padding: 1em;
  a {
    color: $black;
  }
}
.right{
  float: right;
}
.left{
  float: left;
}
.col6 {
  display: inline-block;
  vertical-align: top;
  width: 50%;
}
.col2 {
  display: inline-block;
  vertical-align: top;
  width: 20%;
}
.clear {
  clear: both;
}
.hidden {
  display: none;
}
.block {
  display: block;
}
.col8 {
  display: inline-block;
  vertical-align: top;
  width: 60%;
  box-sizing: border-box;
  overflow: auto;
  padding: 20px;
}
.noTop {
  margin-top: 0;
  padding-top: 0;
}
.info {
  display: inline-block;
  vertical-align: top;
  padding: 20px;
}
.item-info {
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: rgba($white, 0.7);
  border-radius: 5px;
}
.contract-info {
  display: inline-block;
  width: 48%;
  background-color: rgba($white, 0.7);
  padding: 10px;
  border-radius: 5px;
}
.right {
  float: right;
}
.searchhelper {
  background-color: rgba($white, 0.7);
  padding: 10px;
  border-radius: 5px;
}
