table {
  background-color: $white;
  width: 100%;
  thead {
    background-color: rgba($red, 0.6);;
    font-weight: 500;
    th {
      padding: 5px;
      text-align: left;
    }
  }
  tbody{
    tr:nth-of-type(even) {
      background-color: rgba($blue, 0.1);
    }
    td {
      padding: 5px;
      vertical-align: middle;
    }
  }

}
.rentals {
  width: 100%;
  padding: 0;
  margin: 0;
  height: 330px;
  overflow-y: scroll
}
.user-tabs {
  padding-top: 0px;
}
.tab.segment {
  background-color: rgba($white, 0.7);
}
.ui.top.attached.tabular.menu .item.active {
  background-color: rgba($white, 0.7);
}
