select#multi-select.ui.multiple.selection.dropdown(multiple="" ng-model="categories")
  option(value="") Select Categories
  option(ng-repeat="category in categories" ng-value="category.name") {{category.name}}
