doctype html
html(ng-app='friendlyGear')
  head
    meta(charset='utf-8')
    title
    script(type='text/javascript', src='/bower_components/jquery/dist/jquery.min.js')
    link(rel='stylesheet', href='/bower_components/semantic-ui/dist/semantic.min.css', type='text/css')
    link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")
    script(type='text/javascript', src='/bower_components/semantic-ui/dist/semantic.min.js')
    script(type='text/javascript', src='/bower_components/semantic-ui/dist/components/dropdown.min.js')
    script(type='text/javascript', src='/bower_components/angular/angular.min.js')
    script(type='text/javascript', src='/bower_components/angular-animate/angular-animate.min.js')
    script(type='text/javascript', src='/bower_components/angular-cookies/angular-cookies.min.js')
    script(type='text/javascript', src='/bower_components/angular-route/angular-route.min.js')
    script(type='text/javascript', src='/bower_components/angular-sanitize/angular-sanitize.min.js')
    script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment-with-locales.min.js")
    script(type='text/javascript', src='/app.min.js')
    link(rel='stylesheet', href='/bower_components/normalize.css/normalize.css', type='text/css')
    link(rel='stylesheet', href='/style.min.css', media='screen', title='no title', charset='utf-8')
    base(href="/")
  body(ng-controller='MainController')
    div(ng-view='')
