header
  .container
    a(href='/home')
      h2#title.left
        | FriendlyGear
        small  a place for friends with gear
    user-auth-directive
main
  .container
    block content
footer
  .container
    block foot
    a(href='#') How it works
    |  | 
    a(href='#' ng-click="signUp()") Sign up
    |  | 
    a(href='#') Log in
    |  | 
    a(href='#') Browse all gear
