extends ./../../layout

block content
  h2 Gear rental form
  form(ng-submit='createContract()')
    input(type='hidden' name='ownerId' ng-model='foo')
    input(type='hidden' name='renderId' ng-model='currentUser')
    h4 Reserve this gear from the available dates on the calendar
    .row
      fg-booking-calendar(ng-if=("item._id") url="http://fg.abramswebdevelopment.com/items/{{item._id}}")
    .row
      input(type='submit' value='Request Rental')
