extends ./../../layout

block content
  h1 Edit your gear details

  form.ui.form(ng-submit="updateItem(item._id)")
    .fields
      .field
        label Name
        input(type='text' ng-model="name" ng-value="item.name")
      .field
        label Brand
        input(type='text' ng-model="brand" ng-value="item.brand")
    .fields
      .field
        label Condition
        input(type='text' ng-model="condition" ng-value="item.condition")
      .field
        label Price (in dollars)
        input(type='number' ng-model="price" ng-value='item.price')
    .field
      button(type='submit') Save
    //- 
    //- categories: Array,
    //- imageUrl: String,
