extends ./../../layout

block content
  h1 Enter your gear details

  form.ui.form(ng-submit="createItem()")
    .fields
      .field
        label Name
        input(type='text' ng-model="name")
      .field
        label Brand
        input(type='text' ng-model="brand")
      .field
        label Date Purchased
        input(type='date' ng-model="datePurchased")
      .field
        label Condition
        input(type='text' ng-model="condition")
    .field
      label Description
      textarea(ng-model="description")
    .field(categoryDropdown)
      label Categories
      select#multi-select.ui.multiple.selection.dropdown(multiple="")
        option(value="") Select Categories
        option(value="biking") Biking
        option(value="hiking") Hiking
        option(value="backpacking") Backpacking
        option(value="skiing") Skiing
        option(value="snowshoing") Snowshoing
        option(value="snowboarding") Snowboarding
        option(value="kayaking") Kayaking
        option(value="surfing") Surfing
    .field
      button(type='submit') Create Item
    //- 
    //- categories: Array,
    //- imageUrl: String,
