extends ./../../layout

block content
  h5(ng-hide="currentUser") Login to Rent this!
  h4(ng-show="currentUser && currentUser != item.userId")
    a.dark(ng-href='/items/{{item._id}}/contracts/new') Rent it!
  h4(ng-show="currentUser == item.userId")
    a.dark(ng-href='/users/{{item.userId}}') Pending Rentals
    |  | 
    a.dark(ng-href='/items/{{item._id}}/edit') Edit
  h1 {{item.name}} 
    small    ${{item.price}} / Day
  h4(ng-show="currentUser == item.userId") Set Availability
    br
    br
    fg-booking-calendar(ng-if=("item._id") url="http://fg.abramswebdevelopment.com/items/{{item._id}}")
    button(ng-click='updateAvailibility()') Update Availability
  .ui.grid
    .six.wide.column
      img.gearimage(ng-src='{{item.imageUrl}}' alt='broken image')
      a.white(ng-href='/users/{{user_id}}/items') Back
    .info.eight.wide.column.item-info
      .row 
        h6.noTop Description:
        p {{item.description}}
      .row 
        h6 Brand:
        p {{item.brand}}
      .row
        h6 Condition:
        p {{item.condition}}
      .row
        h6 Categories:
        ul
          li(ng-repeat='category in item.categories') {{category}}
