extends ./../../layout

block content
  h5(ng-hide="currentUser") Login to Rent this!
  h4(ng-show="currentUser && currentUser != item.userId")
    a.dark(ng-href='/items/{{item._id}}/contracts/new') Rent it!
  h4(ng-show="currentUser == item.userId")
    a.dark(ng-href='/users/{{item.userId}}/items') Pending Rentals
    |  | 
    a.dark(ng-href='/items/{{item._id}}/edit') Edit
  h1 {{item.name}}
  .ui.grid  
    img.gearimage.four.wide.column(ng-src='{{item.imageUrl}}' alt='broken image')
    .info.eight.wide.column
      .row 
        h6.noTop Description:
        p {{item.description}}
      .row 
        h6 Brand:
        p {{item.brand}}
      .row 
        h6 Price per day:
        p {{item.price}}
      .row
        h6 Condition:
        p {{item.condition}}
      .row
        h6 Categories:
        ul
          li(ng-repeat='category in item.categories') {{category}}
      h4(ng-show="currentUser == item.userId") Set Availability
        fg-booking-calendar(ng-if=("item._id") url="http://localhost:3000/items/{{item._id}}")
        button(ng-click="updateAvailibility()") Update Availability
      a(ng-href='/users/{{user_id}}/items') Back
