extends ./../../layout

block content
  h3 Welcome {{user.name}}
  h4
    a.dark(href='/items/new') Add a new item
  p
  img.avatar(ng-src='{{user.avatarUrl}}' alt='profile pic')
  .col8
    h4.noTop Rental Requests
    table.rentals
      thead
        tr
          th Item
          th Status
          th Start Date
          th End Date
          th Options
      tbody
        tr(ng-repeat='ownerContract in ownerContracts')
          td {{ownerContract.item.name}}
          td {{ownerContract.status}}
          td {{ownerContract.reservedDates[0].date}}
          td {{ownerContract.reservedDates[ownerContract.reservedDates.length-1].date}}
          td
            a.dark(ng-href='/items/{{ownerContract.itemId}}/contracts/{{ownerContract._id}}') View Rental
    h4 Your Pending Rentals
    table.rentals
      thead
        tr
          th Item
          th Status
          th Start Date
          th End Date
          th Options
      tbody
        tr(ng-repeat='renterContract in renterContracts')
          td {{renterContract.item.name}}
          td {{renterContract.status}}
          td {{renterContract.reservedDates[0].date}}
          td {{renterContract.reservedDates[renterContract.reservedDates.length-1].date}}
          td
            a.dark(href='/items/{{renterContract.itemId}}/contracts/{{renterContract._id}}') View Rental
  table
  h3 Your Gear
  table
    thead
      tr
        th Name
        th Brand
        th
        th Options
    tbody
      tr(ng-repeat='item in items')
        td {{item.name}}
        td {{item.brand}}
        td
          img.gearlistthumbnail(ng-src='{{item.imageUrl}}' alt='broken image')
        td
          a.dark(ng-href='/items/{{item._id}}') Show 
          |  | 
          a.dark(ng-href='/items/{{item._id}}/edit') Edit
          |  | 
          a.dark(href='#' ng-click='deleteItem(item)') Delete
            
