extends ./../layout

block content
  .listing(ng-repeat="item in items track by $index")
    p
      h6
        a(ng-href='/items/{{item._id}}') {{item.name}}
    p {{item.brand}}
      a(ng-href='/items/{{item._id}}' ng-show='item.imageUrl')
        img.gearthumbnail(ng-src='item.imageUrl' alt='broken image')
