#splash-page
  header.splash-header
    .container
      h2.title.left
        | FriendlyGear
        small  a place for friends with gear {{$root.userLoggedIn}}
      user-auth-directive.splash-user-menu
  main.splash-main
    .splash.container
      .splash-form.ui.three.column.grid
        .row
          .column
            label(for='when') When do you want to go?
          .column
            label(for='what') What do you want to do?
          .column
            label(for='where') Where do you want to do it?
        .row
          .column
            .ui.two.column.grid
              .column
                input(type='date', name='mainSearch[startDate]')
              .column
                input(type='date', name='mainSearch[endDate]')
          .column
            searchable-category-dropdown
          .column
            input(type='text', name='mainSearch[location]')
        .row
          .column
          .column
            button.row.btn(type="button" ng-click="search()") Search
  footer#splash-footer
    a(href='#') How it works 
    |  | 
    a(href='#' ng-click="signUp()") Sign up
    |  | 
    a(href='#') Log in
    |  | 
    a(href='/home') Browse all gear
